.ios_test{
    padding-top: 40px !important;
}

.imgLogo{
    width: 80%;
}

.main_content_div{
    width: 100%;
    padding: 20px;
    height: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .upper_div{
        .back_arrow{
            width: 20px;
        }
    
        .content_div{
            padding: 15px;
    
            .head_lbl{
                color: var(--ion-color-main);
                font-size: 24px;
                font-weight: bold;
                display: block;
                margin-top: 5px;
                font-family: open-bold;
            }
        
            .div_form{
                margin-top: 40px;
                .ip{
                    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
                    border-radius: 25px;
                    margin-top: 10px;
                    --padding-start : 15px;
                    height: 40px;
                    background: white;
                }
                .forgot_lbl{
                    color : var(--ion-color-main);
                    margin-top: 15px;
                    display: block;
                    float: right;
                    margin-bottom: 10px;
                    font-family: open-regular;
                }
            }
            
            .red_btn{
                --background : var(--ion-color-main);
                height: 40px;
                --background-activated : var(--ion-color-main);
                margin-top: 30px;
            }
        }
    }
    .lower_div{
        .bottom_lbl{
            display: block;
            text-align: center;
            .red_lbl{
                color : var(--ion-color-main);
            }
        }
    }
    
}