<ion-header no-border>
  <ion-toolbar no-border-bottom color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      Tablón De Anuncios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center ion-padding">
    <ion-icon slot="start" name="document-outline"></ion-icon>
    <ion-label class="labelTitle">
      Lista de Tablones de Anuncios
    </ion-label>
  </div>

  <ion-searchbar animated mode="ios" (ionChange)="buscar($event)"></ion-searchbar>

  <br>

  <ion-list >
    <ion-item *ngFor="let listado of listadosFilter" (click)="goTo(listado.id)" >
      <ion-col size="2">
        <ion-avatar item-start>
          <img src="assets/condominio/icon.png">
        </ion-avatar>
      </ion-col>
      <label class="noleida">
        <p class="cssgray"> {{listado.titulo_noticia}} </p>
        <p class="cssgray"> {{listado.date}} </p>
      </label>
        <ion-button slot="end" color="primary" class="goButton" ion-button icon-only 
        mode="ios" style="zoom:1.4;">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-list>

  <!-- <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Ver </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Titulo </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Fecha </ion-label>
        </td>
      </tr>

      <tr class="colorTR" *ngFor="let listado of listadosFilter">
        <td class="ion-text-center">
          <ion-button class="goButton" ion-button icon-only (click)="goTo(listado.id)" 
          mode="ios" style="zoom:0.9;">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{listado.titulo_noticia}} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{listado.date}} </ion-label>
        </td>
      </tr>

    </table>
  </div> -->

</ion-content>
