<ion-header no-border>
  <ion-toolbar no-border-bottom color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      Detalle del Evento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputTitle">Título de la noticia:</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputDesc">{{titulo_noticia}}</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputTitle">Noticia:</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputDesc">{{noticia}}</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputTitle">Fecha:</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputDesc">{{fecha_noticia}}</label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="inputCol">
      <label class="inputTitle">Archivo de la noticia:</label>
    </ion-col>
  </ion-row>

  <br>
  <br>
  
  <div *ngIf="verArchivo">
    <a href="https://condohome.com.mx/app/uploads/frontend/noticeboard/{{archivo_noticia}}" target="_system">
      <ion-button expand="block">Descargar archivos</ion-button>
    </a>
  </div>

</ion-content>