<ion-menu side="start" menuId="first" type="overlay">
  <ion-header no-border>
    <ion-toolbar color="primary">
      <ion-title class="textomenu"> MENU </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="primary">

    <div class="ion-text-center">
      <img src="assets/condominio/logo_w.png" class="avatarm">
    </div>
    <ion-list class="listSide">

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerDirection]="'root'" color="primary">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <p class="labelmenu">Dashboard De Residencia</p>
        </ion-item>
        <ion-item (click)="goPago()" color="primary">
          <ion-icon slot="start" name="cash-outline"></ion-icon>
          <p class="labelmenu">Pago</p> &nbsp;
        </ion-item>
        <ion-item (click)="goReservar()" color="primary">
          <ion-icon slot="start" name="location-outline"></ion-icon>
          <p class="labelmenu">Reservar amenidades</p> &nbsp;
        </ion-item>
        <ion-item (click)="goAnuncios()" color="primary">
          <ion-icon slot="start" name="desktop-outline"></ion-icon>
          <p class="labelmenu">Tablón de anuncios</p> &nbsp;
        </ion-item>
        <ion-item (click)="goMensaje()" color="primary">
          <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
          <p class="labelmenu">Mensaje</p> &nbsp;
        </ion-item>
        <ion-item (click)="goContacto()" color="primary">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <p class="labelmenu">Contacto</p> &nbsp;
        </ion-item>
        <ion-item color="primary" (click)="goOut()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <p class="labelmenu">Salir</p> &nbsp;
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
    <br>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>