.labelTitle{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline ;     
}

div.scrollmenu {
    background-color: #1b3750;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #1b3750;
  }
  
  td{
    padding: 10px;
  }

  .colorTR{
    background: white !important;
  }

  .colorBlack1{
    color: black;
    font-weight: bold;
  }

  .colorBlack2{
    color: white;
    font-weight: bold;
  }

  .cssgray {
    color: #797D7F;
    font-size: 15px;
    margin: 0px;
    margin-left: 25px;
    margin-top: 3px;
  }

  .noleida{
    padding: 8px;
    color: rgb(5, 59, 104) ;
    font-weight: 900;
  }