<ion-header no-border>
  <ion-toolbar no-border-bottom color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      Gestionar Factura / Pago
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center ion-padding"> 
    <ion-icon slot="start" name="document-outline"></ion-icon>
    <ion-label class="labelTitle">
      Lista de Facturas / Pagos
    </ion-label>
  </div>

  <ion-list >
    <ion-item *ngFor="let pago of fechas" >
      <ion-col size="2">
        <ion-avatar item-start>
          <img src="assets/condominio/icon.png">
        </ion-avatar>
      </ion-col>
      <label class="noleida">
        <p class="cssgray"> {{ pago.titulo }} - {{pago.date}} </p>
        <p class="cssgray"> {{ pago.descripcion }} </p>
        <p class="cssgray"> Monto : {{ pago.monto }} - Monto Pagado : {{ pago.monto_pagado }} </p>
        <p class="cssgray"> 
          <ion-chip color="success" *ngIf="pago.estatus==='Pagado'">
            <ion-label>Pagado</ion-label>
          </ion-chip>
          <ion-chip color="danger" *ngIf="pago.estatus==='No Pagado'">
            <ion-label>No Pagado</ion-label>
          </ion-chip>
        </p>
      </label>
    </ion-item>
  </ion-list>
  
  <!-- <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Residencia </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Titulo </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Descripción </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Monto </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Monto Pagado </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Estatus </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack2"> Fecha</ion-label>
        </td>
      </tr>

      <tr class="colorTR" *ngFor="let pago of fechas">
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ idResidencia }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ pago.titulo }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ pago.descripcion }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ pago.monto }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{ pago.monto_pagado }} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1">
            <ion-chip color="success" *ngIf="pago.estatus==='Pagado'">
              <ion-label>Pagado</ion-label>
            </ion-chip>

            <ion-chip color="danger" *ngIf="pago.estatus==='No Pagado'">
              <ion-label>No Pagado</ion-label>
            </ion-chip>
          </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{pago.date}}</ion-label>
        </td>
      </tr>

    </table>
  </div> -->

</ion-content>