<ion-header no-border>
  <ion-toolbar no-border-bottom color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      Dashboard De Residencia
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exitButton()">
        <ion-icon ios="power-outline" md="power-sharp" style="zoom:1.3;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item-group class="rowDeuda">
    <ion-item-divider color="secondary">
      <ion-label>Saldo a la Fecha</ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label>Total</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>$  {{deudas}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-item-group>

  <div class="ion-padding">

    <div class="ion-padding ion-text-center">{{titleYear}}</div>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)" (onRangeChanged)="reloadSource(startTime, endTime)"
      (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)" step="30">

    </calendar>

  </div>

</ion-content>