<ion-header no-border>
  <ion-toolbar no-border-bottom color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      Reservación de amenidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center ion-padding">
    <ion-icon slot="start" name="document-outline"></ion-icon>
    <ion-label class="labelTitle">
      Reservación de Amenidad
    </ion-label>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Categoria de la amenidad</ion-label>
      <ion-select placeholder="Seleccione la categoría" mode="ios" (ionChange)="selectAmenidad($event)">
        <ion-select-option *ngFor="let amenidad of selAmenidades" value="{{amenidad.nombre_amenidad}}" >{{amenidad.nombre_amenidad}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">A Nombre De Quien Reserva</ion-label>
      <ion-input placeholder="Nombre de la persona que reserva" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Dia de la reservación</ion-label>
      <ion-datetime (ionChange)="date($event)" displayFormat="DD/MM/YY" min="{{min_year}}"
        placeholder="Seleccione el dia de la reservación"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hora De La Reservación</ion-label>
      <ion-datetime (ionChange)="hour($event)" displayFormat="H:m:s" placeholder="Seleccione la hora de la reservación"></ion-datetime>
    </ion-item>
  </ion-list>

  <br>
  <br>
  <br>
  
  <ion-button (click)="handleCreateAmenity()" color="primary" expand="block" shape="round" >Agregar Reservación</ion-button>

</ion-content>