<ion-header no-border>
  <ion-toolbar no-border-bottom color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg" #myContent>

  <div *ngFor="let chat of chats">
    <p>
      <ion-chip class="{{chat.emisor}}">
        <ion-label>{{chat.mensaje}}</ion-label>
      </ion-chip>
    </p>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer">
      <div class="elem">
        <ion-textarea placeholder="Mensaje" class="inputMensaje" #myInput [(ngModel)]="mensaje"></ion-textarea>
      </div>
      <div class="elem">
        <ion-button icon-only (click)="handleSendMensaje()">
          <ion-icon class="iconSend" name="send"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>