div#footer div.elem:first-child {
    flex-grow: 1;
}

div#footer {
    display: flex;
    flex-direction: row;
}

.bgFooter {
    background: #f0f0f0;
}

.elem {
    border-radius: 0;
    margin: 0;
}

elem button {
    border-radius: 0;
    margin: 0;
}

.adminitrador {
    width: 80%;
    height: auto;
    margin: auto;
    background: #dbdada;
}

.residencia {
    width: 80%;
    height: auto;
    margin: auto;
    background: #aecbdf;
    margin-left:18%;
}