<ion-header no-border>
  <ion-toolbar no-border-bottom color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      Escribir Nuevo Mensaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center ion-padding">
    <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
    <ion-label class="labelTitle">
      Seleccione un destinatario
    </ion-label>
  </div>

  <ion-item *ngFor="let item of [1,2,3]" (click)="openChat( )">
    <ion-avatar slot="start">
      <img src="assets/condominio/logo_png.png">
    </ion-avatar>
    <ion-label>
      <h3>Miguel Hernandez </h3>
      <p> Administradores </p>
    </ion-label>
    <ion-icon class="cssgray" name="arrow-forward" slot="end"></ion-icon>
  </ion-item>

</ion-content>
